@import 'style';


body{
    .container-1 {
	    display: grid;
	    justify-content: center;
	    grid-template-columns: 40% 40%;
	    grid-gap: 10%;
	    height: auto;
	    min-height: 300px;
	    }
  

    .Contact-information {
	    height: auto;
	    min-height: 300px;
    }

    span {
	    color: #7A2048;
    }

    .fcf-body {
	    margin-left: 5%;
	    height: auto;
	    min-height: 500px;
	    width: 200px;
    }

    .fcf-form-control {
	    width: 250%;
    }
    
    #fcf-button {
	    margin-top: 5%;
	    margin-left: 70%;
	    width: 200px;
    }
}



