@import 'style';

body{

// price
.price{
    width: 80%;
    margin: 10% 5% 5% 10%;
    .card{
        text-align: center;
        height: auto;
        min-height: 400px;
        box-shadow: 5px 10px 10px 5px#888888;
        margin: 2% ;
    }
    .card:hover{
        transform: scale(1.1);
    }
    span{
        font-size: 30px;
        color: #7A2048;
        font-weight: bold;
    }
    
    ul{
        text-align: left;
         list-style: none;
        margin-left: 20%;
        li{
            line-height: 300%;
        }
         li::before {
            content: "\2023";
            color: red;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            font-size: 30px;

          }
    }
    h5{
        color: red;
    }
    h2{
        text-align: center;
        margin: 5%;
    }
}

// about-us
.about-us{
    .div1, .div2{
        width: 70%;
        margin: 5% 5% 5% 15%;
        padding: 3%;
        box-shadow: 5px 10px 10px 5px#888888;
        border-radius: 0 25% 0 25%;
        background-color: #7A2048;
        color: white;
    }
   h2{
       text-align: center;
   }
}

}

@media only screen and (max-width: 820px){
    body{
        .price{
            margin: 15% 5% 5% 10%;
            h2{
                font-size: 20px;
                color: #7A2048;
            }
    }
    .about-us{
        .div1, .div2{
            width: 90%;
            margin: 2% 0% 2% 5%;
            border-radius: none;
            box-shadow: none;
            background-color: white;
            color: black;
        }
        h2{
            font-size: 20px;
            color: #7A2048;
        }
    }
  }
}