* {
        margin: 0;
        padding: 0;
}

html {
        height: 100%;
}

body {
        .container {
                height: 100px;
                width: 100px;
                background-color: #EEA47FFF;
        }
}