* {
        margin: 0;
        padding: 0;
}

html {
        height: 100%;
        width: 100%;
}

body {
        .header {
                height: 100px;
                background-color: #7A2048;
        }
        .container {
                height: 600px;
                background-color: #FCEDDA;
        }
        .container1 {
                height: 220px;
                width: 600px;
                background-color: red;
        }
        .container2 {
                height: 500px;
                width: 200px;
                background-color: red
        }
        .container3 {
                height: 250px;
                width: 900px;
                background-color: red;
        }
        .footer {
                height: 100px;
                background-color: #7A2048;
        }
}

